@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 400;
  src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 700;
  src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2');
}
:root {
  --color-brand-dark: #011c44;
  --color-brand-light: #2b7fff;
  --color-secondary-dark: #000000;
  --color-secondary-light: #ffffff;
  --color-third-underbutton: #4a4a4a;
  --color-third-light: #747272;
}
/* Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  color: var(--color-brand-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.section-title {
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
}
.section-title.centered {
  text-align: center;
}
.title-accent {
  color: var(--color-brand-light);
}
.section {
  padding: 48px 0;
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 24px;
}
.container.people-choices {
  max-width: 1060px;
}
/* Button */

.button {
  padding: 16px 32px;
  margin-bottom: 14px;
  color: var(--color-secondary-light);
  font-weight: 600;
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 32px;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.2s, background-color 0.2s;
}
.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}
/* Link */
.link {
  color: var(--color-brand-dark);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.2s;
}
.link:hover {
  color: var(--color-brand-light);
}
.link-footer {
  color: var(--color-secondary-light);
  font-size: 16px;
  text-decoration: none;
  transition: color 0.2s;
}
.link-footer:hover {
  color: var(--color-brand-light);
  text-decoration: none;
}
/* Logo */
.logo-header,
.logo-footer {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
.logo-header {
  line-height: 0.95;
}
.logo-footer {
  font-size: 24px;
  line-height: 0.88;
}

/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.25);
}
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}
.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}
.header-icon {
  display: flex;
  gap: 32px;
}
.address-icon {
  transition: fill 0.2s;
}
.address-icon:hover {
  fill: var(--color-brand-light);
}
/* Hero section */
.hero-section {
  padding-bottom: 126px;
  padding-top: 123px;
  background-image: linear-gradient(
      94deg,
      rgba(255, 255, 255, 1) 9.65%,
      rgba(255, 255, 255, 0.6) 26.08%,
      rgba(255, 255, 255, 0.25) 52.74%,
      rgba(255, 255, 255, 0) 74.46%
    ),
    url('../images/hero-section-background.jpg');
  /* background-image: url('../images/hero-section-background.jpg'); */
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 77% auto;
}
.hero-section .container {
  position: relative;
  left: 116px;
}

.hero-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}
.hero-subtitle {
  color: var(--color-brand-light);
  font-family: 'Play', sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.81;
  max-width: 530px;
  margin-bottom: 40px;
}
.recommendation-under-button {
  color: var(--color-third-underbutton);
  font-size: 12px;
  max-width: 238px;
}
/* About-us-section */
.transformation-section {
  padding-bottom: 128px;
}
.transformation-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.transformations-content {
  max-width: 710px;
}
.photo-transformation {
  position: relative;
}
.small-icon-star,
.medium-icon-star,
.big-icon-star {
  position: absolute;
  animation-name: pulse-spin;
  animation-duration: 5s;
}
.small-icon-star {
  bottom: 332px;
  right: 32px;
  fill: var(--color-third-light);
}
.medium-icon-star {
  top: 80px;
  right: 0;
  fill: var(--color-brand-light);
  transform: rotate(-30deg);
}
.big-icon-star {
  bottom: 216px;
  left: 118px;
  fill: var(--color-brand-dark);
}
@keyframes pulse-spin {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(100deg);
    fill: var(--color-brand-light);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: rotate(360deg);
    transform: scale(1);
  }
}
.woman-photo-before,
.woman-photo-after {
  position: relative;
  border-radius: 200px 200px 200px 200px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.2);
}
.woman-photo-before {
  bottom: -40px;
}
.woman-photo-after {
  left: 172px;
  bottom: -80px;
}
.transformation-title {
  margin-bottom: 40px;
}
.title-accent-beauty {
  color: var(--color-brand-light);
  text-transform: capitalize;
}
.about-us-text {
  margin-bottom: 40px;
  line-height: 1.7;
}

.bold-zone {
  font-weight: 600;
  text-transform: capitalize;
}

/* People-choices-section */
.people-choices-title {
  max-width: 520px;
  margin: 0 auto 48px;
}
.choise-list {
  display: flex;
  gap: 56px;
}
.choise-item {
  color: var(--color-secondary-dark);
  text-align: center;
  font-size: 18px;
  line-height: 1.3;
  height: 181px;
  padding: 24px;
  border-radius: 32px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  background: var(--color-secondary-light);
  flex-basis: calc((100% - 112px) / 3);
}
.people-choices-icon {
  fill: var(--color-brand-light);
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* Procedures-section */
.procedures-container {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}
.procedures-title {
  margin-bottom: 48px;
}
.procedures-list {
  display: flex;
  gap: 16px;
  flex-grow: 1;
  justify-content: space-between;
}
.procedures-item {
  flex-basis: calc((100% - 32px) / 3);
}

.procedure-card {
  height: 456px;
  padding: 24px;
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47.4%,
    rgba(1, 28, 68, 0.73) 82.66%,
    #011c44 99.06%
  );
  border: 1px solid lightgray;
  border-radius: 4px 120px;
  transition: transform 0.5s;
}
.procedure-card:hover {
  transform: scale(1.01);
}
.procedure-title {
  color: var(--color-secondary-light);
  font-size: 22px;
  text-align: center;
  line-height: 1.18;
}
/* Carousel */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-brand-dark);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-brand-dark);
  cursor: pointer;
  transition: background-color 0.2s, fill 0.2s;
}
.carousel-button:hover {
  background-color: var(--color-brand-light);
  fill: var(--color-secondary-light);
}
.carousel-button.previous {
  transform: rotate(180deg);
}
/* Contact-section */
.contact-section {
  padding-bottom: 96px;
}
.contact-title {
  margin-bottom: 48px;
}
.contact-container {
  display: flex;
  gap: 32px;
}
.contact-map {
  border-radius: 32px;
}
.modal-contact {
  max-height: 580px;
  padding: 48px 57px;
  background-color: var(--color-brand-dark);
  background-image: url(/images/modal-background.png);
  border-radius: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contact-form-field {
  margin: 0 auto 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer */
.footer {
  padding: 32px 0;
  position: relative;
  background-color: var(--color-brand-dark);
  background-image: url(/images/footer-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer::after {
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  content: '';
  right: 0;
  width: 240px;
  height: 152px;
  background-image: url('/images/decor-vials-and-pipette.png');
}
.footer-container {
  display: flex;
  gap: 20px;
}
.footer-nav {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}
.footer-logo {
  flex-grow: 1;
}
.footer-menu {
  flex-grow: 1;
}
.address-list {
  flex-grow: 1;
}
.address-info {
  flex-grow: 1;
}
.address-link {
  color: var(--color-secondary-light);
  font-size: 16px;
  text-decoration: none;
  transition: color 0.2s;
}
.address-link:hover {
  color: var(--color-brand-light);
  text-decoration: none;
}
.footer-address-icon {
  fill: var(--color-secondary-light);
  transition: fill 0.2s;
}
.footer-address-icon:hover {
  fill: var(--color-brand-light);
}
.privacy-policy {
  color: var(--color-secondary-light);
  font-size: 16px;
  text-decoration: none;
  transition: color 0.2s;
}
.privacy-policy:hover {
  color: var(--color-brand-light);
  text-decoration: none;
}
.data-protection {
  color: var(--color-third-light);
  font-size: 13px;
}
/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 31, 74, 0.4);
  padding: 20px 0;
  transition: opacity 0.2s, visibility 0.2s;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: relative;
  width: 100%;
  max-width: 824px;
  height: 100%;
  max-height: 782px;
  padding: 42px 144px;
  background-color: var(--color-brand-dark);
  background-image: url(/images/modal-background.png);
  border-radius: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-y: auto;
}
.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
}
.modal-title {
  margin: 0 auto 40px;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  max-width: 440px;
  font-size: 64px;
  color: var(--color-secondary-light);
  text-align: center;
}
.modal-text {
  margin: 0 auto 32px;
  font-weight: 600;
  text-align: center;
  color: var(--color-secondary-light);
  max-width: 280px;
}
.modal-text-span {
  color: var(--color-brand-light);
}

/* Form */
.form-field {
  margin: 0 auto 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-label {
  display: block;
}
.form-input {
  padding: 18px 32px;
  width: 100%;
  font-size: 16px;
  line-height: 1.17;
  max-width: 326px;
  border: 2px solid var(--color-third-light);
  border-radius: 32px;
  background-color: transparent;
}
.form-input:focus {
  background-color: var(--color-third-light);
  outline: none;
}
.form-input::placeholder {
  color: var(--color-secondary-light);
  font-weight: 400;
  font-size: 14px;
}
.form-input:focus::placeholder {
  color: var(--color-secondary-light);
}
.form-button {
  display: block;
  margin: 0 auto 8px;
}
.form-button:hover {
  color: var(--color-secondary-light);
}
.form-terms {
  margin: 0 auto;
  font-size: 12px;
  max-width: 210px;
  color: var(--color-third-light);
  text-align: center;
}
.form-terms-link {
  color: var(--color-third-light);
  font-size: 12px;
  text-underline-offset: 2px;
}
