:root {
  --color-brand-dark: #011c44;
  --color-brand-light: #2b7fff;
  --color-secondary-dark: #000000;
  --color-secondary-light: #ffffff;
  --color-third-underbutton: #4a4a4a;
  --color-third-light: #747272;
}
