.transformation-section {
  padding-bottom: 128px;
}
.transformation-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.transformations-content {
  max-width: 710px;
}
.photo-transformation {
  position: relative;
}
.small-icon-star,
.medium-icon-star,
.big-icon-star {
  position: absolute;
  animation-name: pulse-spin;
  animation-duration: 5s;
}
.small-icon-star {
  bottom: 332px;
  right: 32px;
  fill: var(--color-third-light);
}
.medium-icon-star {
  top: 80px;
  right: 0;
  fill: var(--color-brand-light);
  transform: rotate(-30deg);
}
.big-icon-star {
  bottom: 216px;
  left: 118px;
  fill: var(--color-brand-dark);
}
@keyframes pulse-spin {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(100deg);
    fill: var(--color-brand-light);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: rotate(360deg);
    transform: scale(1);
  }
}
.woman-photo-before,
.woman-photo-after {
  position: relative;
  border-radius: 200px 200px 200px 200px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.2);
}
.woman-photo-before {
  bottom: -40px;
}
.woman-photo-after {
  left: 172px;
  bottom: -80px;
}
.transformation-title {
  margin-bottom: 40px;
}
.title-accent-beauty {
  color: var(--color-brand-light);
  text-transform: capitalize;
}
.about-us-text {
  margin-bottom: 40px;
  line-height: 1.7;
}

.bold-zone {
  font-weight: 600;
  text-transform: capitalize;
}
