.footer {
  padding: 32px 0;
  position: relative;
  background-color: var(--color-brand-dark);
  background-image: url(/images/footer-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer::after {
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  content: '';
  right: 0;
  width: 240px;
  height: 152px;
  background-image: url('/images/decor-vials-and-pipette.png');
}
.footer-container {
  display: flex;
  gap: 20px;
}
.footer-nav {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}
.footer-logo {
  flex-grow: 1;
}
.footer-menu {
  flex-grow: 1;
}
.address-list {
  flex-grow: 1;
}
.address-info {
  flex-grow: 1;
}
.address-link {
  color: var(--color-secondary-light);
  font-size: 16px;
  text-decoration: none;
  transition: color 0.2s;
}
.address-link:hover {
  color: var(--color-brand-light);
  text-decoration: none;
}
.footer-address-icon {
  fill: var(--color-secondary-light);
  transition: fill 0.2s;
}
.footer-address-icon:hover {
  fill: var(--color-brand-light);
}
.privacy-policy {
  color: var(--color-secondary-light);
  font-size: 16px;
  text-decoration: none;
  transition: color 0.2s;
}
.privacy-policy:hover {
  color: var(--color-brand-light);
  text-decoration: none;
}
.data-protection {
  color: var(--color-third-light);
  font-size: 13px;
}
