.form-field {
  margin: 0 auto 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-label {
  display: block;
}
.form-input {
  padding: 18px 32px;
  width: 100%;
  font-size: 16px;
  line-height: 1.17;
  max-width: 326px;
  border: 2px solid var(--color-third-light);
  border-radius: 32px;
  background-color: transparent;
}
.form-input:focus {
  background-color: var(--color-third-light);
  outline: none;
}
.form-input::placeholder {
  color: var(--color-secondary-light);
  font-weight: 400;
  font-size: 14px;
}
.form-input:focus::placeholder {
  color: var(--color-secondary-light);
}
.form-button {
  display: block;
  margin: 0 auto 8px;
}
.form-button:hover {
  color: var(--color-secondary-light);
}
.form-terms {
  margin: 0 auto;
  font-size: 12px;
  max-width: 210px;
  color: var(--color-third-light);
  text-align: center;
}
.form-terms-link {
  color: var(--color-third-light);
  font-size: 12px;
  text-underline-offset: 2px;
}
