.link {
  color: var(--color-brand-dark);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.2s;

  &:hover {
    color: var(--color-brand-light);
  }
}

.link-footer {
  color: var(--color-secondary-light);
  font-size: 16px;
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: var(--color-brand-light);
    text-decoration: none;
  }
}
