.procedure-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 456px;
  padding: 24px;
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47.4%,
    rgba(1, 28, 68, 0.73) 82.66%,
    #011c44 99.06%
  );
  border-radius: 4px 120px;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.01);
  }

  &__image {
    position: absolute;
    border-radius: 4px 120px;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__title {
    color: var(--color-secondary-light);
    font-size: 22px;
    text-align: center;
    line-height: 1.18;
  }
}
