.procedures-section {
  &__title {
    margin-bottom: 48px;
  }

  &__container {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  &__list {
    display: flex;
    gap: 16px;
    flex-grow: 1;
  }

  &__item {
    flex-basis: calc((100% - 32px) / 3);
  }
}
